.thankyou {
    padding: 3rem 0;

    h2 {
        font-size: 2.5rem;
        color: $color-secondary;
        letter-spacing: 1px;
        font-family: $montserrat;
    }

    .thank-message {
        font-family: $montserrat;

        p {
            margin: 1.5rem 0;
            letter-spacing: 0.5px;
            line-height: 1.5;
        }

        h3 {
            position: relative;
            color: $color-blue;
            padding-left: 2rem;
            margin: 0;
            margin-top: 1rem;
            font-size: 1.5rem;
            letter-spacing: 1px;

            &::after {
                content: 'check_circle_outline';
                @include translatey;
                left: 0;
                font-family: "Material Icons";
            }
        }
    }
}

.banner {
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height:calc(100vh -  150px);

    .overlay {
        @include overlay;
        background-color: rgba($color-primary, .8);
    }

    .banner-content {
        @include flexvr;
        max-width: 45%;
        position: relative;
        color:$color-white;
        flex-wrap: nowrap;
        min-height:calc(100vh -  300px);

        h1 {
            text-transform: uppercase;
            font-size: 2.5rem;
            line-height: 1.3;
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
    }

    .bus {
        position: absolute;
        bottom: 2rem;
        right: -20%;
    }

    .road {

        svg {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            bottom: 0;
            z-index: 2;
            @include flexjust;
            align-items: center;
            justify-content: center;

            .st0 {
                fill: $color-primary;
                z-index: 4;
            }

            .st74 {
                fill: none;
                stroke: $color-white;
                stroke-miterlimit: 10;
            }

            .st75 {
                fill: none;
                stroke: $color-white;
                stroke-miterlimit: 10;
                stroke-dasharray: 11.8925, 11.8925;
            }

            .st76 {
                fill: none;
                stroke: $color-white;
                stroke-miterlimit: 10;
                stroke-dasharray: 11.8817, 11.8817;
            }
        }

        .taxi {
            position: absolute;
            z-index: 5;
            bottom:0;
            max-width: 50px;

            &.mini-van {
               
                -webkit-transform: translate3d(100px, 0, 0);
                transform: translate3d(100px, 0, 0);
                -webkit-animation: move-right 15s linear 0s infinite;
                animation: move-right 15s linear 0s infinite;
                bottom:2rem;
            }

            &.van {
                -webkit-transform: translate3d(100px, 0, 0);
                transform: translate3d(100px, 0, 0);
                -webkit-animation: move-left 15s linear 0s infinite;
                animation: move-left 15s linear 0s infinite;
                right:0;
            }
        }
    }
}
@media screen and (max-width:1200px){
    .banner{
        .banner-content{
            h1{
                font-size:1.5rem;
            }
        }
        .bus {
            position: absolute;
            right: -40%;
        }
    }
}
@media screen and (max-width:992px){
    .banner{
        .bus {
            position: absolute;
            right: -60%;
        }
    }
}
@media screen and (max-width:767px){
    .banner{
        .banner-content{
            max-width: 80%;
            margin:0 auto;
            h1{
                font-size:1.5rem;
            }
        }
        .bus {
            display:none;
        }
    }
}
@keyframes move-right {
    0% {
        -webkit-transform: translatex(0%);
        transform: translatex(0%);
    }

    100% {
        -webkit-transform: translate3d(1920px, 0, 0);
        transform: translate3d(1920px, 0, 0);
    }
}

@-webkit-keyframes move-right {
    0% {
        -webkit-transform: translatex(0%);
        transform: translatex(0%);
    }

    100% {
        -webkit-transform: translate3d(1920px, 0, 0);
        transform: translate3d(1920px, 0, 0);
    }
}
@keyframes move-left {
    0% {
        -webkit-transform: translatex(0%);
        transform: translatex(0%);
    }

    100% {
        -webkit-transform: translate3d(-1920px, 0, 0);
        transform: translate3d(-1920px, 0, 0);
    }
}

@-webkit-keyframes move-left {
    0% {
        -webkit-transform: translatex(0%);
        transform: translatex(0%);
    }

    100% {
        -webkit-transform: translate3d(-1920px, 0, 0);
        transform: translate3d(-1920px, 0, 0);
    }
}
.feature-section{
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 530px;
    .feature-item{
        text-align: center;
        padding:2rem;
        background-color: $bg-light-1;
        @include radius(5px);
        
        @include transition(all .5s ease-in-out);
        figure{
            margin:0 auto;
        }
        .feature-content{
            margin-top:2rem;
            h4{
                font-size: .975rem;
                font-weight: 700;
                margin-bottom: .875rem;
            }
            p{
                font-size: .845rem;
                margin:0;
            }
        }
        &:hover{
            @include boxshadow(0 2px 6px rgba($color-primary,.16));
        }
    }
}
@media screen and (max-width:992px){
    .feature-section{
        .col-lg-4 {
            &:not(:last-child){
                margin-bottom: 2rem;
            }
        }
    }
}
.testi-section{
    background-color: $bg-light-1;
    .testi-slider{
        .slick-list{
            margin:0 -1rem;
        }
    }
    .testi-item{
        padding:2rem;
        background-color: $color-white;
        @include radius(5px);
        text-align: center;
        margin:0 1rem;
        @include transition(all .5s ease-in-out);
        figure{
            width:70px;
            height: 70px;
            background-color: $bg-light-1;
            margin:0 auto;
            @include radius(50%);
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }
        p{
            margin:2rem 0;
            font-size: .845rem;
        }
        .testi-footer{
            text-transform: capitalize;
            h5{
                font-size: .875rem;
                font-weight: 700;
            }
            h6{
                color:$color-secondary;
                font-size: .775rem;
                font-weight: 600;
            }
        }
        &:hover{
            @include boxshadow(0 2px 20px rgba($color-primary,.16));
        }
    }
    .slick-slide{
        .testi-item{
            opacity: .5;
        }
        &.slick-active{
            &.slick-current{
                .testi-item{
                    opacity: 1;
                }
            }
            
        }
    }
}
.app-section{
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    .overlay{
        @include overlay;
            background-color: rgba($color-primary, .8);
    }
    .mobile-app{
        text-align: center;
    }
    .app-content{
        @include flexvr;
        color:$color-white;
        align-items: flex-start;
        min-height: 400px;
        .app-header{
            span{
                text-transform: uppercase;
                font-size: .75rem;
                font-weight: 600;
            }
            h2{
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 700;;
            }
        }
        .app-footer{
            margin-top:2rem;
            h4{
                font-size: .8125rem;
                font-weight: 600;
                text-transform: uppercase;
            }
            .app-icon{
                @include flexStart;
                margin-top:.6125rem;
                figure{
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                }
            }
        }
        @media screen and(max-width:767px){
            align-items: center;
            margin-top:2rem;
        }
    }
}
.counter-section{

    .counter-item{
        background-color:$bg-light-1;
        padding:2rem;
        @include flexvr;
        text-align: center;
        b{
            text-transform: uppercase;
            font-size:.775rem;
        }
        h4{
            color:$color-secondary;
            text-transform: uppercase;
            font-weight: 700;
            font-size:1.2rem;
            margin:.6125rem 0;
        }
        p{
            font-size:.845rem;
        }
    }
}

.client-section{
    margin-top:3rem;
    .client-slider{
        .client-item{
            padding:0 1rem;
            figure{
                margin:0;
                img{
                    max-height: 70px;
                }
            }
        }
    }
}