.bus-outer{
    // border: 5px solid #d8d8d8;
    border-radius:30px;
}
.bus-inner {
//   margin: 20px auto;
  max-width: 200px;
  max-height: 200px;
  @include rotate(-90deg);
  
//   margin:0 auto;
}

.cockpit {
  height: 120px;
  position: relative;
  overflow: hidden;
  text-align: center;
//   border-bottom: 5px solid #d8d8d8;
//   &:before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 500px;
//     width: 100%;
//     border-radius: 50%;
//     border-right: 5px solid #d8d8d8;
//     border-left: 5px solid #d8d8d8;
//   }
}

.exit {
  position: relative;
  height: 3rem;
  &:before,
  &:after {
    
    font-size: .875rem;
    padding:.25rem .6125rem;
    display: block;
    position: absolute;
    background:$color-secondary;
    color:$color-white;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:before {
    left: 5px;
    content: "A";
  }
  &:after {
    right: 5px;
    content: "B";
  }
}


ol {
  list-style :none;
  padding: 0;
  margin: 0;
  .seat-row{
    .seats {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        .seat {
            display: flex;
            flex: 0 0 20%;
            padding:0 5px;
            position: relative;  
            &:nth-child(2) {
              margin-right: 20%;
            }
            input[type=checkbox] {
              position: absolute;
              opacity: 0;
            }
            input[type=checkbox]:checked {
              + label {
                background: $color-green;
                color:$color-white;      
                -webkit-animation-name: rubberBand;
                    animation-name: rubberBand;
                animation-duration: 300ms;
                animation-fill-mode: both;
              }
            }
            
            input[type=checkbox]:disabled {
              + label {
                background: $color-green;
                overflow: hidden;
                // &:after {
                //   content: "X";
                //   text-indent: 0;
                //   position: absolute;
                //   top: 4px;
                //   left: 50%;
                //   transform: translate(-50%, 0%);
                // }
                &:hover {
                  box-shadow: none;
                  cursor: not-allowed;
                }
              }
            }
            label {    
              display: block;
              position: relative;    
              width: 100%;    
              text-align: center;
              font-size: .775rem;
              font-weight: bold;
              line-height: 1.5rem;
              padding: 4px 0;
              background: $color-grey;
              @include radius(5px);
              animation-duration: 300ms;
              animation-fill-mode: both;
              color:$color-secondary;
              
              &:before {
                content: "";
                position: absolute;
                width: 75%;
                height: 75%;
                top: 1px;
                left: 50%;
                transform: translate(-50%, 0%);
                background: rgba($color-white,.4);
                @include radius(3px);
              }
              &:hover {
                cursor: pointer;
                box-shadow: 0 0 0px 2px $color-secondary;
              }
              &.booked-seat{
                background-color: $color-green;
                color:$color-white;
              }
              &.preserved-seat{
                background-color: $color-blue;
                color:$color-white;
              }
              &.cancel-seat{
                background-color: $color-secondary;
                color:$color-white;
              }
              
            }
          } 
      }
      &:last-child{
         .seats{
             .seat{
                &:nth-child(2){
                    margin-right: 0;
                }
             }
         } 
    }
  }
  
}





@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}
.select-seat-list{
  .seat-price-list{
   li{
     margin-right: .5rem;
     b{
       display: block;
       margin-bottom: .5rem;
       text-transform: uppercase;
       font-size: .775rem;
     }
     span{
      padding:.25rem .45rem;
      border:1px solid $color-border;
      color:$blue-light;
      font-size: .775rem;
    }
   }         
  }
}
